<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
	<test name="ChromeTest">
		<parameter name="browserType" value="CHROME"></parameter>
		<classes>
		<class name="easyrunner.EasyTestRunner"/>
		</classes>
	</test>
<!-- 
 
	<test name="FirefoxTest">
		<parameter name="browserType" value="FIREFOX"></parameter>
		<classes>
			<class name="Runner.TestRunner">

			</class>
		</classes>
	</test>


	<test name="EdgeTest">
		<parameter name="browserType" value="EDGE"></parameter>
		<classes>
			<class name="Runner.TestRunner">

			</class>
		</classes>
	</test>
	
-->

</suite> <!-- Suite -->


 
